#main-content {
    min-height: 35vh;
}

img {
    max-width: 100%;
}


#footer {
    margin-top: 60px;
}

.navbar-inverse {
	background-color: #2c3143;
}
.navbar-inverse .navbar-brand {
	color:white;
	font-weight: 900;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background: white;
}

label {
	 font-weight:500;
}
